html.dark-theme {
    background-color: #171717;
}

html.light-theme {
    background-color: white;
}

.dark-theme .light-theme-icon {
    display: none;
}

.light-theme .dark-theme-icon {
    display: none;
}

.theme-icon {
    width: 15px;
}

.dark-theme .theme-icon {
    color: white;
}

.dark-theme #dark-mode {
    background-color: #171717;
}

.light-theme .theme-icon {
    color: #171717;
}

.light-theme #dark-mode {
    background-color: white;
}

#play-mode {
    background-color: green;
}

.dark-theme button.sound-button, .dark-theme button#add-new-sound {
    border: 2px solid white;
    background-color: #171717;
    color: white;
}

.dark-theme button.sound-button:hover, .dark-theme button#add-new-sound:hover {
    border: 2px solid #171717;
    color: #171717;
    background-color: white;
}

.dark-theme h1, .dark-theme .control-button, .dark-theme .keybind-text {
    color: white;
}

.dark-theme .control-button { 
    border: 2px solid white;
}

.light-theme h1, .light-theme .keybind-text {
    color: #171717;
}

.light-theme .control-button { 
    border: 2px solid #171717;
}

.light-theme .light-theme button.sound-button, .light-theme button#add-new-sound {
    border: 2px solid #171717;
    background-color: white;
    color: #171717;
}

.light-theme button.sound-button:hover, .light-theme button#add-new-sound:hover {
    border: 2px solid white;
    color: white;
    background-color: #171717;
}

div#main-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.view-mode-soundboard {
    background: #da3633;
}

button.view-mode-delete {
    background: green;
}

.control-button {
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    margin: 0px 5px;
}

button.sound-button, button#add-new-sound {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    border-radius: 50%;
    font-size: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

button.sound-button:hover, button#add-new-sound:hover {
    background-color: white;
    border: 2px solid #171717;
    color: #171717;
}

button.sound-button-delete {
    border: 2px solid red !important;
}

button.sound-button-delete:hover {
    background-color: red !important;
    border: 2px solid white !important;
}

#controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

h1, button, .keybind-text {
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

.keybind-text:hover {
    color: gray;
}

main {
    padding: 20px;
}